body {
  margin: 0;
  overflow: hidden;
}

#vid {
  height: 100vh;
  width: 100%;
  object-fit: fill;
}

.warn {
  font-family: sans;
  font-size: 200%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
